.genres {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    background-color: #9f82d2;
    border: double rgb(232, 119, 119);
    padding: 0.7rem;
    margin: 0.7rem;
    max-width: 15rem;
    min-width: 15rem;
    text-align: center;
    font-size: large;
    font-family: fantasy;
    flex-wrap: wrap;
}

.genre-btn {
    background-color: rgb(230, 125, 146);
    color: rgb(0, 0, 0);
    font-size: medium;
    border: outset rgb(255, 182, 212);
    text-align: center;
    max-width: 2rem;
    margin: 1rem;
}

.artists-genres {
    background-color: #9f82d2;
    border: double rgb(232, 119, 119);
    padding: 0.7rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    max-width: 15em;
    min-width: 15em;
    text-align: center;
    font-size: large;
    font-family: fantasy;
}

.item__active {
    color: #310873;
    background-color: rgba(255, 182, 212, 0.86);
    max-width: 20rem;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    margin: 1rem;
    padding: 0.5rem;
    border: #9f82d2 double;
}

.gen-title {
    color: #310873;
    background-color: rgba(255, 182, 212, 0.86);
    max-width: 20rem;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    margin: 1rem;
    padding: 0.5rem;
    border: #9f82d2 double;
}