.header- .artists {
    display: flex;
    flex-direction: column;
    flex-shrink: initial;
    flex-wrap: wrap;


}

.artist-list-comp {
    background-color: #9f82d2;
    border: dotted rgb(232, 119, 119);
    padding: 0.7rem;
    margin: 0.7rem;
    width: 15Rem;
    height: 8rem;
    padding: 1rem;
    font-family: fantasy;
    flex-direction: row;


}

.btn_btn-primary {
    background-color: rgb(230, 125, 146);
    color: rgb(0, 0, 0);
    font-size: medium;
    border-color: rgb(255, 182, 212);

}

.artistForm__title {
    color: rgb(232, 119, 119);

}

.artist-objs {
    text-align: center;
}

.header__item {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 212);
    width: 15rem;
    text-align: center;
    font-size: larger;
    font-family: fantasy;
    margin-top: 1rem;


}

.delete-button {
    background-color: rgb(230, 125, 146);
    color: rgb(0, 0, 0);
    font-size: medium;
    border-color: rgb(255, 182, 212);
    shape-rendering: geometricPrecision;
}

.btn__btn-primary {
    background-color: rgb(230, 125, 146);
    color: rgb(0, 0, 0);
    font-size: medium;
    border-color: rgb(255, 182, 212);
    ;
}

.lists {
    background-color: rgb(230, 125, 146);
    color: #000000;
    font-size: medium;
    font-family: fantasy;
    border-color: rgb(255, 182, 212);
    border-width: 0.5rem;

}