.forms {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: #9f82d2;
    border: double rgb(230, 125, 146);
    padding: 0.7rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    width: 15rem;
    font-size: large;
    font-family: fantasy;
    text-align: center;
}

.title {
    color: #310873;
    background-color: rgba(255, 182, 212, 0.86);
    width: 20rem;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    margin: 1rem;
    padding: 0.5rem;
    border: #9f82d2 double;
}

.btn__onclick {
    background-color: rgb(230, 125, 146);
    color: rgb(0, 0, 0);
    font-size: medium;
    border: outset rgb(255, 182, 212);
    text-align: center;
    width: 2rem;
    margin: 1rem;
}